div.openlayers-container-preset-staff_directory_map,
div.views-field-field-staff-photo-url-value {
  float: right;
  margin-left: 10px;
  background-color: #F1F1F1;
  border: 1px solid #D2D2D2;
  padding: 5px 5px 2px 5px;
}

div.views-field-field-staff-photo-url-value {
  margin-bottom: 10px;
}

#view-id-staff_directory-page_1.view div.attachment-before {
  margin-bottom: 20px;
}

div#view-id-staff_directory-page_1.view div.views-field-title span.field-content a h3 {
  color: #E48101;
  font-weight:  110%;
  padding-top: 0;
}

div.update-link {
  margin-top: 2.0em;
  text-align: right;
}